@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #F0F9FF;
  color: #1e293b;
}

* {
  -webkit-tap-highlight-color: transparent;
}
